body {padding-top: 47px;}
.navbar-fixed-top .container, .navbar-fixed-bottom .container {width:1000px;}
.navbar .nav .active > a, .navbar .nav .active > a:hover {background:none;}
.navbar .nav>li>a {padding: 14px 10px 14px;}
.navbar .brand {font-weight: bold;}
.navbar .nav .login {position:relative;top:10px;}
.navbar .nav .login a {color:#fff;padding:4px 6px;text-decoration:none;-webkit-gradient(linear,left bottom,left top,color-stop(0,#067c00),color-stop(1,#58b300))}
.clear { clear:both; }
code { font-weight:bold; color:#008000; background:none; border:0px; font-family:"Courier New"; }
code.red {color:#ff0000}
.btn {border-radius:0!important;}

/* table */
.datatable { border:1px solid #888888; border-radius:10px; width:100%;margin:10px 0px; }
.datatable tr,.datatable th,.datatable td { border:1px solid #aaa; }
.datatable th { background:#ccc; text-align:left; }
.datatable th,.datatable td { padding:8px 10px 8px 10px; }
.datatable tr { background:#eee;	}
.datatable tr.even { background:#fff; }
.datatable td.code {font-family:"Courier New"; }
.datatable.hover tr:hover { background:#ddd;}


/***** index ********/
#content { min-width:1100px;}
.gradient1 { background:#020031; background-image: linear-gradient(45deg,#020031, #6D3353);height:410px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset; }
.container { min-width:1100px; }
#content .container { text-align:center; color:#fff; }
#content .container h1 { font-size:100px; line-height:100px; height:100px;margin-top:50px; margin-bottom:30px; }
#content .container h2 { font-size:30px; height:30px; margin-bottom:10px; }
#content .container button { margin-left:10px; font-weight:bold; margin-top:35px; }
#contact {min-width:1098px;height:50px;padding-top:20px;background:#fff; text-align:center; }
#contact .container {min-width:1100px;text-align:center}
.notice {height:18px;line-height:18px;margin-top:7px;width:690px;float:left;overflow:hidden}
.notice .n_title {color:#000;float:left;font-weight:bold}
.notice .n_content {height:18px;overflow:hidden}
.notice .n_content ul {list-style:none;margin-left:0px}
.notice .n_content li {margin:0;text-align:left}
.notice .n_content li.red {color:#ff0000}
#contact .follow {float:left}
#contact .follow span {font-size:14px;color:#ff0000;font-weight:bold;position:relative;}
#contact .weibo {float:left}
#contact a {color:#000;}
#contact .weibo {position:relative;top:-5px;left:130px;margin-right:20px;cursor:pointer;}
#contact #weixin_code {position:absolute;top:75px;left:-25px;z-index: 999}
#news{padding:60px 0;background: #ececec;min-width: 1100px;}
#news #left {width:710px; background:#fff;padding:13px 30px 0 25px;overflow:hidden; float:left;}
#news #left h4 { width:100%; font-size:14px;border-bottom: 1px solid #eee;padding-bottom: 6px;} 
#news #left h4 span { float:right;margin-right:20px; font-weight:normal; }
#news #left ul {list-style:none;margin:0;}
#news #left ul li { margin:12px 0px; width:640px; }
#news #left ul li.red {color:red!important}
#news #left ul li.red a{color:red!important;font-weight:bold}
#news #left ul li i { height:4px; width:4px; background:#ff0000; float:left;margin:6px;border-radius: 50%;}
#news #left ul li .date { display:block; float:left; width:80px; }
#news #left ul li a .new { width:20px; padding: 14px 0 0 32px; background:url("/images/new.png") no-repeat scroll 0 0 transparent; display: inline-block; margin-left:10px; }
#news #right { float:right; width:310px; overflow:hidden;}
#news #right .shows {width:300px;margin-bottom:24px;background:#fff; padding:4px;text-align:center;cursor:pointer}
#news #right .small .shows_content{display:none}
#news #right .shows img {max-width:300px;}
#news #right .shows h4 {font-size:20px;margin:15px 0px 5px 0px;}
#news #right .shows a{color:#000;text-decoration:none}
.index { min-width:1100px;  padding:40px 0px 30px 0px; }
.odd { background:#fff;}
.even { background:#ECECEC; }
.index .content { width:1100px; margin:0 auto;color:#555; }
.index .content .left{float:left}
.index .content .right{float:right}
.index .content  p {font-size:14px;line-height:1.8;color:#222;font-family:'Microsoft YaHei', 微软雅黑, 黑体;}
.index .content code {padding:0;border:none;color:#000;font-weight:normal;margin:0 2px;font-size:13px}
.index .content code.red {color:#ff0000;font-size:20px}
.index .content h1 {color: #575757;color:#222;text-align: center;height: 40px;margin-bottom: 40px;}
.index .carousel-indicators {margin:0;list-style: none;text-align:center;cursor: pointer;border-bottom: 1px dotted #aaa;padding:12px 0;}
.index .carousel-indicators li {display:inline-block;margin-right:20px;}
.index .carousel-control {display: none;left:0;margin-top:0;}
.index .carousel-control.right {left:auto;right: 0;}
.index .carousel-indicators li.active {color:#006cee;}
.index .content h3 { text-align: center;margin:30px 0;font-size: 30px;color:#000;}
.index .content .shows {padding:60px 20px;border-bottom:1px dotted #aaa;position:relative}
.index .content .shows .options {position:absolute;top:-30px;right:0}
.index .content .shows_img {width:400px;height:240px;margin:0 20px;border:1px solid #aaa;border-radius:3px;box-shadow:0 0 3px #aaa;background:url("/images/shows.png") no-repeat;position:relative;}
.index .content .shows_img.demo {background-position:0px 0px}
.index .content .shows_img.docs {background-position:-400px 0px}
.index .content .shows_img.api {background-position:0 -240px}
.index .content .shows_img.bbs {background-position:-400px -240px}
.index .content .shows_img.test {background-position:0 -480px}
.index .content .shows_img.hcode {background-position: -400px -480px;}
.index .content .shows_img .shows_desc {display:none;position:absolute;bottom:0px;width:360px;padding:16px 20px;border-radius:0 0 8px 8px;border-top:1px solid #ccc;background:#fff;}
.index .content .shows_img img {width:500px;height:300px;border-radius:10px}
.index .content .shows_text {width:570px;color:#000;}
.index .content .shows_text h2 {margin-bottom:20px;color:#006CEE;font-size:28px;}
.index .content .product {padding: 40px 10px;}
.index .content .product_demo {width:560px;height:360px;border:1px solid #ccc;box-shadow: 0 0 10px #CCC;}
.index .content .product_text {width: 480px;padding: 30px 0;}
.index .content .product_text h2 {font-size: 40px;margin-bottom: 20px;color: #006cee;}
.index .content .product_subText {margin-top: 20px;}
.index .content .product_subText p {color:#999;}
.index .content .clients {list-style: none;margin:0;text-align: center;}
.index .content .clients li {display: inline-block;margin:0 8px;line-height: 70px}
.index .content .clients img {max-width: 180px;max-height:39px;filter: gray;
-webkit-filter: grayscale(100%);
-moz-transition: all 0.1s ease-in-out;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;}
.index .content .clients img:hover {filter: none;
-webkit-filter: grayscale(0%);}
.clients_more {text-align: center;margin:40px 0 20px 0;color: #aaa;}
.clients_more h4 {font-size: 24px;line-height:40px;color:#006cee;}
.clients_more p {font-size:12px;text-indent: 0;margin:9px 0;}
#subject .carousel-indicators  {position: absolute;
bottom: -26px;
left: 50%;
z-index: 15;
width: 60%;
padding-left: 0;
margin-left: -30%;
text-align: center;
list-style: none;}
#subject .carousel-indicators li {width:6px;height:6px;border:1px solid #006cee;border-radius:50%;display: inline-block;}
#subject .carousel-indicators li.active {background: #006cee;}
.index .content .slogan {margin-top:40px;text-align:center;font-size:25px;}
.index .feature {list-style: none;margin: 0;padding: 20px 0;}
.index .feature li {display: inline-block;width:400px;height:120px;margin:8px;padding:0 20px;text-align: left;color: #fff;background: #8085E8;}
.index .feature h3 {text-align: left;font-size: 20px;}
#footer_index  {min-width:1100px;background:#4E4B41;border-bottom:1px solid #111;border-top:1px solid #333;padding-top: 10px;}
#footer_index  dl {float:left;width:180px;text-align:left;color:#fff;}
#footer_index  dl dt {margin-bottom:6px;}
#footer_index  dl dd{margin-left:0;}
#footer_index .f_weixin {width:100px;height:100px;background:url('/images/weixin.png') no-repeat}
#footer_index  dl dd a{font-size:normal;color:#fff}
#footer {background:#4E4B41;z-index:1000;position:relative;/*4E4B41;464646 border-top:1px solid #7D7D73;*/border-top:1px solid #7D7D73;color:#fff; min-width:1100px; }
#footer p {padding:9px 0px;margin:0px;line-height:20px;}
#footer a {color:#fff;}
#footer.footer_w { min-width:1300px; z-index:1000px; }
#footer.page_404 { background:#F5F5F5; height:50px; border-bottom:1px solid #DDDDDD; }
#footer.page_404 p { color:#000; top:15px }
#scrollUp { bottom: 20px; right: 20px; height: 38px;width: 38px; /* Width of image */ background: url(/images/top.png) no-repeat;}
/* Demo */ 
#demo { width:100%; min-width:1300px;}
#demo hr{margin:6px 0px;}
#demo #demo_menu {	width:250px; float:left; padding:20px 0px; height:auto; box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2); background:#F8F8F8; }
#demo #demo_menu h3{ display:block; width:220px; padding-left:20px; margin-left:0px; }
#demo #demo_menu h3 span { float:right; color:#ff9009; font-size:12px; cursor:pointer; margin-right:10px; }
#demo #demo_menu ul { list-style:none; width:250px; margin-left:0px;}
#demo #demo_menu ul li{ width:220px;color:#000; }
#demo #demo_menu ul li a {width:210px;color:#000; padding:2px 0px 2px 36px;text-decoration:none;display:block;}
#demo #demo_menu ul li:hover { background:#FFBA00; font-weight:bold;width:252px;}
#demo #demo_menu ul li.cur { font-weight:bold; color:#fff; background:#006ECC;text-align:right;box-shadow:0px 3px 5px #aaa; width:252px;}
#demo #demo_menu ul li.cur a{color:#fff;padding:2px 15px 2px 0px;width:237px;}
#demo #demo_content { margin-right: auto; margin-left: auto; /* to center */ width:1024px;overflow:hidden}
#demo #demo_content .page-header {padding-bottom:5px;height:45px;}
#demo #demo_content .page-header h1 {float:left;font-size:36px}
#demo #demo_content .page-header .subtitle{float:left;color:#888;height:36px;margin-left:36px;}
#demo #demo_content .page-header .subtitle p {height:18px;margin-bottom:0px;}
#demo #demo_content .page-header .subtitle p.single{position:relative;top:16px;}
#demo #demo_content .page-header .subtitle p.tip {color:red}
#demo #demo_content .page-header .subtitle p.tip a {color:red}
#demo #demo_content .page-header .subtitle a{color:#888;text-decoration:underline}
#demo #demo_content .page-header .subtitle a.username{font-weight:bold;}
#demo #demo_content .page-header .subtitle a:hover {color:#000;text-decoration:underline;}
#demo #demo_content button { margin-right:10px }
#demo #demo_content p { height:30px; margin-bottom:20px }
#demo #demo_content p span a { color:#fff; text-decoration:none; } 
#demo #demo_content p.edit { margin-top:20px; margin-bottom:10px; text-align:center; }
#demo #demo_content #show_code { margin-top:-10px; }
#demo #demo_content #show_code h4 a { margin-left:30px; font-size:12px; font-weight:normal; text-decoration:none;	}
#demo #demo_content #show_code h4 span.close { color:#ff0000; float:right;margin-right:20px; cursor: pointer; font-size:12px; font-weight:normal;opacity:1; }
#demo #demo_content #show_code .code_space { margin-top:10px; margin-bottom:15px; padding:10px; border:1px solid #2F7ED8; border-radius:5px; font-family:'Courier New'; background:#A7CEFA; color:#000; white-space:pre; overflow-x:auto; }
#demo #demo_content #demo_url {margin-top:40px;height:30px;}
#demo #demo_content #demo_url  .title {float:left;position:relative;top:5px;color:#006ECC;font-weight:bold;}
#demo #demo_content #demo_url input {display:inline;width:890px;overflow:auto;float:left;margin-bottom:20px;}
#demo #demo_content #demo_url button  {float:left;margin-right:0px;}
/* 404 */
#page_404 { width:100%; height:350px; background-image: linear-gradient(45deg,#020031, #6D3353); padding-top:140px; text-align:center; }
#page_404 h1 { color:#fff; height:50px; font-size:50px; margin-top:80px; }
#page_404 h3 { color:#fff; height:20px; font-size:20px; margin-top:20px; }
#page_404 h3 span { color:#ff0000; font-weight:bold; margin-right:10px; }
/* Test */
#test {min-width:1330px;overflow:hidden}
#test_title {min-width:1330px;width:100%;color:#fff;background:#434036;box-shadow: 0 1px 3px rgba(0, 0, 0,0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;	padding:5px 0px;position:fixed; top:0px; z-index:1030;}
#test_title h2 {float:left;margin-left:10px}
#test_title h2 a {text-decoration:none;color:#fff}
#test_title .option {float:left;position:relative;top:5px;margin-left:108px;vertical-align: middle;}
#test_title .option select {width:150px;}
#test_title .option span {position:relative;top:-2px}
#test_title .option button {margin-left:10px;margin-top:-6px;}
#test_title .option a {color:red;}
#test_box {height:732px;;background:#eee;width:100%;}
#test_box .box {border:1px solid #c0c0c0;background:#fff;box-shadow: 0 1px 2px #E4E4E4 inset;}
#test_box .box .box_title {height:18px;color:#000;padding:5px 10px;background:#eee;border-bottom:1px solid #aaa;box-shadow: 0 1px 3px rgba(0, 0, 0,0.25);margin-bottom:1px;z-index:1000}
#test_box .box .box_title span {font-weight:normal;font-size:12px;}
#test_box .box .box_title span.ri {float:right;}
#test_box .box .box_subtitle {float:right;}
#test_box .box .box_subtitle .do {cursor:pointer;margin-right:10px;font-weight:bold}
#test_box #js {width:590px;margin:10px;height:710px;float:left}
#text_box #js #js_code {height:680px;box-shadow: 0 1px 4px #E4E4E4 inset;}
#test_box #right{height:732px;float:left;width:718px;}
#test_box #right #result {height:440px;margin:10px 0px;overflow:hidden;box-shadow: 0 1px 2px #E4E4E4 inset;}
#test_box #right #html {height:258px;position:relative;bottom:0px;box-shadow: 0 1px 2px #E4E4E4 inset;}
#test_box #right #html #html_code {box-shadow: 0 1px 2px #E4E4E4 inset;height:208px;overflow-y:auto;width:691px;overflow-x:hidden;white-space:pre;padding:10px;padding-left:15px;font-family:"Courier new";color:#000;background:#fdfdfd;line-height:20px;}
/* docs */ 
#docs { margin:0 auto;width:1100px;}
.docs_sider{ width:220px; float:left;  color:#4E4B41;margin-top: 20px;}
.docs_sider a {color:#444;}
.doc_back {margin:10px 0;}
.doc_section {background: #fff;padding:10px 20px;border:1px solid #ccc;position: relative;width: 160px;z-index: 1;}
.doc_section dl {margin:6px 0;}
.doc_section dt {margin-bottom: 6px;}
.doc_section dd {display: none;margin:2px 14px;}
.doc_section dl a {color:#aaa;}
.doc_section .active a{color:#000;}
.doc_section dl.active dd,.doc_section dl.active dt {display: block;}
.doc_section dd.active:after,.doc_section dt.active:after{content: '';
position: absolute;
right: -26px;
width: 1em;
height: 1em;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transition: background .1s linear;
-moz-transition: background .1s linear;
transition: background .1s linear;
background-color: #FFF;
border-left: 1px solid #aaa;
border-bottom: 1px solid #aaa;
z-index: 2000;}
.doc_section dd.active a {color:#ff0000;}
/* #docs_sider .section ul { list-style-position:inside;margin-left:8px;}
#docs_sider .section ul li { display:none;padding:2px 0px 2px 16px; color:#555;cursor:pointer;}
#docs_sider .section ul li a {color:#555;}
#docs_sider .section ul li.root {display:block;padding:4px 20px;list-style:none;font-weight:bold;padding-left:10px;margin-bottom:4px;}
#docs_sider .section ul li.active {display:inline-block;color:#ff0000;border-right:2px solid #ff0000;font-weight:bold}
#docs_sider .section ul li.active a{ color:#ff0000;} */
#docs_content {line-height: 160%;width:728px; color:#444;float:left;margin: 20px 0; background:#fff;padding:40px 40px;border:1px solid #aaa;position: relative;}
.docs_weibo {float:right;margin-top: 10px;}
.docs_share {float:left;}
#docs_content p {margin:13px 0;}
#docs_content blockquote,#docs #docs_content blockquote p{color:#888!important;}
#docs_content .datatable {line-height:22px!important;}
#docs_content h1 { font-size:30px;height:50px;margin-bottom:20px;border-bottom:2px solid #000; }
#docs_content h1 span {font-size:13px;font-weight:normal;color:#888}
#docs_content h3 { border-bottom: 1px solid #000; font-size: 20px;line-height:50px; font-weight: bold;margin:20px 0}
#docs_content h4 { font-size: 18px; color:#052D6E;font-weight: bold; margin:30px 0 10px 0;}
#docs_content h5 { margin:10px 0 5px 0;font-weight:bold!important }
#docs_content .center{text-align:center;margin-bottom:10px;}
#docs_content .img { max-width:700px; border:5px solid #f6f6f6;margin:10px auto;text-align:center;border-radius:2px;box-shadow:0 0 2px #aaa}
#docs_content .img:hover {border-color:#fff}
#docs_content .img_title { font-weight:bold; text-align:center; }
#docs_content .page { border-top:1px dashed #000;border-bottom:1px dashed #000;margin:40px 0;padding:20px 0; text-align:center; }
#docs_content .page .btn {margin-left:40px;padding:4px 15px}
#docs_content code {color:#000;font-size: 13px;border-radius: 2px;padding:0 4px;background: #FFFFCC;margin:0 6px;}
#docs_content pre { width:710px; margin:10px 0 20px 0; font-family:"Courier New"; overflow-x:auto;padding-right:-20px; }
#docs_content .faq {margin-top:50px;}
#docs_content .faq_tit {font-weight:bold;margin:8px 0px}
#docs_content .faq_content {text-indent:2em;margin-bottom:20px}
#docs span.label { position:relative; top:-2px; margin-right:5px; }
/*admin*/
#admin { margin:20px; margin-bottom:50px; }
#admin h1 span {font-size:14px;margin-left:20px;}
#admin h1 select {	width:200px;margin:0px 0px 0px 20px } 
#admin #operation_info {color:red; height:20px; margin-bottom:10px; }
#admin h3 {border-bottom:1px solid #ddd;padding-bottom:5px;margin-bottom:10px;}
#admin form {margin:20px 30px;float:left}
#admin input {width:600px;}
#admin form p {margin:0px;}
#admin form p span {width:50px;display:block;float:left;position:relative;top:5px;}
#admin .right {float:right;}
#dedit {margin:20px 0;}
#dedit form {margin:0;float:none}
#dedit .edit_left {width:600px;float:left}
#dedit .edit_right {float:right;width:350px;}
#dedit .box {border:1px solid #ddd;border-radius:3px;margin-bottom:20px;}
#dedit .box .box_title {background:#F7F7F9;border-bottom:1px solid #ddd;padding:6px 10px;font-size:14px;font-weight:bold}
#dedit .box .box_content {padding:20px;}
#dedit .box .box_content p {margin-bottom:0}
#dedit .box .box_content p span {display:inline;width:60px;position:relative;top:6px}
#dedit .box .box_content p input ,#admin #dedit .box .box_content p select {width:230px;float:right}
#dedit .box .box_content p select {width:240px}

#api {margin-top:60px}
#api #main {float:left;}
#api #tip {float:right;width:320px}
#api #tip .well {padding:10px 19px;}
#api #tip .well ul {margin-left:20px;}
#api .success  { color:#008000; }
#api .warning  { color:#ff9009; }
#api .warning code {	text-decoration:underline; }
#api .error {color:#ff0000}
#api h1 {margin:20px 0px;}
#api h3 {margin:10px 0px;}
#api h3 a { color:#000; }
#api h3 a:hover { color:#008000; }
#api h4 {margin-bottom:15px}
/*about*/
#about {min-width:1100px;background:#f5f5f5}
#about_header {min-width:1000px;height:140px;}
#about_header .container {height:140px;position:relative}
#about .donate {background:#BF1813}
#about .api {background:#0A64A4}
#about .htable {background:#009966}
#about .about{background:#660066;/*4BAD00*/}
#about .project_index {background:#0099CC}
#about .service {height:200px;background:url('/upload/homev_updated.png') no-repeat;}
#about .service h1{text-align:center;font-size:40px;color:#fff;width:100%;top:80px;}
#about .service_index {height:420px;background:url('/upload/homev_updated.png') no-repeat;position:relative;}
#about .service_index h1{text-align:center;font-size:40px;color:#fff;width:100%;top:180px;}
#about .service_index .credits {position:absolute;right:0px;bottom:-280px;color:#fff}
/*#about .download {background:#2EAAEA;background-image: linear-gradient(180deg,#0D7AD7, #2EAAEA);}*/


#about_header .header_nav {position:absolute;bottom:0px;right:0px}
#about_header .header_nav ul {list-style:none}
#about_header .header_nav ul li {float:left;margin-left:10px;padding:6px 15px;cursor:pointer;color:#fff}
#about_header .header_nav ul li.cur{background:#f5f5f5;border-radius:5px 5px 0 0;color:#000}
#about_header h1 {width:800px;color:#fff;position:relative;top:50px;font-family:"微软雅黑";}
#about_header h1 span{font-size:14px;margin-left:20px}
#about_header .extra {float: right;position: relative;top:12px;}
#about_header .hf {height:80px;background:#fff;border-radius:10px 10px 0 0;border:1px solid #dbdbdb}
#about_content {min-width:1000px;background:#F5F5F5;padding:20px 0}
#about_content a{color:#000;}
#about_content a:hover{color:#0088CC;}
#about_content a.cur{color:#0088CC;}
#about_content .about_left {width:700px;float:left}
#about_content .about_right{width:250px;float:right}
#about_content .box {margin:30px 0;width:100%;}
#about_content .box h4 {margin-bottom:16px;padding-bottom:8px;border-bottom:1px solid #aaa}
#about_content .box h4 span {border-bottom: 1px solid #006ecc;}
#about_content .box h3 {margin-bottom:16px;}
#about_content .box p{line-height:2;}
#about_content .box p.indent{text-indent:2em}
#about_content .box p.donate{font-weight:bold;}
#about_content .box pre {background:#fff}
#about_content .about_right .box {border:1px solid #aaa;border-radius:5px;background:#fff;}
#about_content .about_right .fixed {border-radius:0;height:250px;width:250px;overflow:hidden}
#about_content .about_right .box h4 {border-bottom:1px solid #ccc;background:#eee;padding:8px}
#about_content .about_right .box h5 {text-align:center;}
#about_content .about_right a {color:#000;text-decoration:none}
#about_content .about_right .box ul {list-style:none;margin-left:8px}
#about_content .about_right .box ul li span{font-weight:bold}
#about_content ul li {margin:5px 0}
#about_content ul li.version {color:#ff0000;padding:8px 0}
#about_content table {width:100%;margin-bottom:10px}
#about_content table,#about #about_content table th,#about #about_content table td {border:1px solid #ccc}
#about_content table th {text-align:left;padding:8px;background:#dbdbdb;}
#about_content table td {padding:8px;background:#fff}
#about_content table .normal th{font-weight:normal!important}
#about_content table .bold {font-weight:bold}
#about_content table tr.success td {color:#ff0000;font-weight:bold}
#about_content .team {margin:30px 0;padding-bottom:30px;border-bottom:1px dashed #ccc}
#about_content .team .team_ico{width:176px;height:176px;float:left}
#about_content .team .team_info {width:480px;float:left;margin-left:20px;margin-bottom:0}
#about_content .shows {background:#fff;width:300px;margin-bottom:20px;border:1px solid #aaa; border-radius:5px; padding:4px;text-align:center;cursor:pointer;margin-right:40px;float:left}
#about_content .small .shows_content{display:none}
#about_content .shows img {max-width:300px;}
#about_content .shows h4 {font-size:20px;margin:15px 0px 0px 0px;border-bottom:none}
#about_content .shows p {margin-bottom:0;}
#about_content .shows a{color:#000;text-decoration:none}
#about_content .friends {width:695px;list-style:none;margin-left:0px;border-top:1px dotted #888;border-left:1px dotted #888}
#about_content .friends li {float:left;width:138px;margin:0;background:#fff;padding:14px 0px;border:1px dotted #888;border-left:none;border-top:none;text-align:center;}
#about_content .friends li.hover {border:1px solid #ff9009}
#about_content blockquote p{font-size:13px!important} 

/*download**/
#about_content .download {width:690px;padding:20px 0px;margin:0 auto;list-style:none;}
#about_content .download .dw_box {float:left;background:#fff;border:1px solid #ccc;padding:20px 40px 20px 20px;border-radius:5px;}
#about_content .download .half {width:270px;margin:0 6px;}
#about_content .download .full {width:614px;margin-left:6px}
#about_content .download h3 {background:#ccc;width:290px;position:relative;top:-20px;left:-20px;padding:10px 20px;margin-bottom:0;}
#about_content .download .full h3 {width:634px}
#about_content .download .cur_box {border:1px solid #006ECC;}
#about_content .download .cur_box h3 {background:#006ECC;color:#fff}
#about_content .download a{color:#000;}
#about_content .download a:hover{color:#0088CC;}
#about_content .select {width:680px;margin:0 auto;border:1px solid #ccc;border-radius:5px;}
#about_content .select ul {list-style:none;margin:0}
#about_content .select .s_header {margin:0 auto;border-bottom:1px solid #ccc;}
#about_content .select .s_header li {float:left;padding:10px 40px;margin:0;cursor:pointer;text-align:center}
#about_content .select .s_header li.half {width:259px}
#about_content .select .s_header li.fouth {width:146px;}
#about_content .select .s_header li h3 {margin-bottom:0}
#about_content .select .s_header li.cur{background:#ccc;border:1px solid #ccc;border-bottom:none;}
#about_content .select .s_main {padding:20px 40px;width:600px;background:#fff;border-radius:0 0 5px 5px}
#about_content .select .s_main ul{margin-left:25px;list-style-type: disc}
#about_content .select .s_main .img {float:right;border:1px solid #ccc;margin-top:20px;border-radius:3px;padding:3px;}
#about_content .select.cur {border-color:#006ecc}
#about_content .select.cur .s_header {border-bottom:1px solid #006ecc}
#about_content .select.cur .s_header li.cur {background:#006ecc;border-color:#006ecc;color:#fff}
#about_content .select a{color:#000;}
#about_content .select a:hover{color:#0088CC;}
/*project*/
#project_nav {min-width: 1000px;}
#project_nav .project_nav_main {background: #fff;border: 1px solid #777;padding:14px 20px 14px 20px;border-bottom: none;border-radius: 8px 8px 0 0;background:#eee}
#project_nav .project_nav_main a {color:#000;}
#project_nav .project_nav_main a:hover,#project_nav .project_nav_main a.cur {color:#0088CC}

#project {min-width: 1000px;}
#project .project_main {border-left: 1px solid #999;border-right: 1px solid #999;padding:20px 30px;background: #fff;}
#project p,#project ul li,#project h5,#project .datatable,#project blockquote{font:13px/26px Verdana, Arial, '宋体' !important;color:#444!important;}
#project .left{float: left}
#project .right {float: right}
#project blockquote,#project blockquote p{color:#888!important;}
#project .datatable {line-height:22px!important;}
#project p.indent {text-indent:1em}
#project h1 { font-size:36px;height:50px;margin-bottom:20px;border-bottom:1px solid #ddd; }
#project h1 span {font-size:13px;font-weight:normal;color:#888}
#project h3 { border-bottom: 1px solid #DBDBDB; font-size: 24px;line-height:50px; font-weight: bold;margin:20px 0}
#project h4 { font-size: 18px; font-weight: bold; margin:30px 0 10px 0;color:#052D6E;}
#project h5 { margin:10px 0 5px 0;font-weight:bold!important }
#project .center{text-align:center;margin-bottom:10px;}
#project .img { max-width:700px; border:5px solid #f6f6f6;margin:10px auto;text-align:center;border-radius:2px;box-shadow:0 0 2px #aaa}
#project .img:hover {border-color:#fff}
#project code {color:#000;font-size: 13px;border-radius: 2px;padding:0 4px;background: #FFFFCC;margin:0 6px;}
#project table ul {margin-bottom: 0}
#project table ul li {height:20px;}

#project .table_value {max-width: 300px}
#project .table_value ul {list-style:none;margin-left: 0px}
#project .code_value {width:600px;border:1px solid #dbdbdb;}
#project .code_value .code_nav {background: #eee;}
#project .code_value .code_nav ul {list-style:none;margin-bottom: 0;}
#project .code_value .code_nav ul li {float:left;padding:0 15px;}
#project .code_value .code_nav ul li:hover {cursor:pointer;}
#project .code_value .code_nav ul li.cur{background: #fff;}
#project .show_select {max-height: 500px;overflow: auto; white-space:pre;font-family: "Courier new";padding: 10px}
#project .project_comment {margin-top:80px;padding-bottom:20px;border-top:1px dashed #000}

/*Open*/
#open_nav {background:#fff;border-bottom:1px solid #ccc;}
#open_nav ul {list-style:none;width:1000px;margin:0 auto;}
#open_nav ul li {float:left;}
#open_nav ul li a{padding:20px 0;width:250px;text-align:center;display: inherit;color:#000;text-decoration:none;position:relative;}
#open_nav ul li a.cur {border-bottom:1px solid #006ecc;font-weight:bold;color:#006ecc}
#open_nav ul li a:hover {color:#006ecc}
#open_nav ul li a span {color:#ff0000;position:absolute;top:10px;font-weight:normal}
#open_nav.index{background:#fff}
#open_nav.index a {font-size:14px;color:#006ecc;}
#open_nav.index p {text-align:center;}
#open_content {background:#ececec;}
#open_content .container {padding:40px 0;text-align:center}
#open_content .open_box {}

#open_content .case {background:#ccc;border:1px solid #aaa;overflow:hidden;position:relative;border-radius:3px;}
#open_content .case_tip {width:100%;position:absolute;bottom:0;color:#fff;z-index:1000;padding:10px 0;display:none;cursor:pointer;}
#open_content .case_tip_con {z-index:1000}
#open_content .case_tip_bg {height:100%;position:absolute;width:100%;bottom:0;top:0;z-index:-5;background:#000; filter:alpha(opacity=50);  -moz-opacity:0.5;  -khtml-opacity: 0.5;opacity: 0.5;}

#open_content .desciption {margin:20px 0 40px 0;}
#open_content .open_box {margin:40px auto;padding:20px 0;}
#open_content .box_bg{background: rgba(255, 254, 253, 1);width: 920px;margin: 0 auto;-webkit-box-shadow: 1px 3px 8px #CCC;box-shadow: 1px 3px 8px #CCC;}
#open_content .box_bg:hover{-webkit-box-shadow: 1px 5px 10px #CCC;box-shadow: 1px 5px 10px #CCC;}
#open_content .box_title {background:#eee;color: #006ecc;border: 1px solid #ccc;border-bottom: none;font-weight: bold;}
#open_content .box_title h3 {padding:8px 0;}
#open_content .box_title .select {list-style:none;margin:0;}
#open_content .box_title .select li{width:249px;float:left;padding:10px 0;color:#000;cursor:pointer;border-top:1px solid #ccc;}
#open_content .box_title .select li.cur{background:#fff;padding-left:1px}
#open_content .box_content {background:#fff;}
#open_content .box_content.cdn {border:1px solid #ccc;border-top:none;}
#open_content .box_content .cdn {margin:0 auto;}
#open_content .box_content .cdn td {font-family:"Courier New";}
#open_content .box_content .cdn input {padding:0;margin:0;border:none;background:none;box-shadow:none;width:640px;color:#008000;font-family:"Courier New";}
#open_content .box_content .price {border:1px solid #ccc;width:100%}
#open_content .box_content .price td,#open_content .box_content .price  th{border:1px solid #ccc;padding:10px;}
#open_content .box_content .price tr.odd {background:#eee}


#open_content .license {/*background:#D4E6F7;*/background:#fff;box-shadow:1px 5px 5px #CCC;padding:30px;margin-bottom:80px;}
#open_content .license:hover {box-shadow:3px 8px 10px #CCC;}
#open_content .li_title {color:#006ecc;font-size:20px;border-bottom:1px solid #006cee;padding-bottom:10px;}
#open_content .li_type {list-style:none;margin:40px auto;width:720px;border:1px solid #006ecc;border-radius:3px;overflow:hidden}
#open_content .li_type li {float:left;width:160px;color:#006ecc;font-weight:bold;padding:4px 10px;background:#fff;cursor:pointer;}
#open_content .li_type li.cur {background:#006ecc;color:#fff;}
#open_content .price {width:900px;margin:0 auto;}
#open_content .price th,#open_content .price td {border:1px solid #aaa;background:#fff;padding:10px}
#open_content .price th {background:#eee}
#open_content .price span {color:#ff0000;}
#open_content .buy {background:#F6F3EA;padding:30px;}
#open_content .download {background:#006ecc;border-color:#006ecc;padding:10px 20px;color:#fff;text-decoration:none;}
#open_content .download:hover {background-color:#0088cc}
#open_content .success {background:#47A447}
#open_content .success:hover {background-color:#5CB85C}
#open_content .warning {background:#39B3D7}
#open_content .warning:hover {background-color:#5BC0DE}
#open_content .go {padding:0 40px;background:url('/images/c_b.png') no-repeat;margin:0 20px;}
#open_content .li_cont {padding:40px  20px}
#open_content .li_step {text-align:left;margin:40px auto 20px auto;width:760px;border:1px solid #ccc;background:#f5f5f5;padding:30px;}
#open_content .li_step .li_ico {width:80px;height: 10px;background: url("/images/coler3.png") no-repeat;z-index: 999;position: relative;left:94px;top: -40px;}
#open_content .li_step span { color:#ff0000}
#open_content .ico {margin:0 40px;}

#open_content .notice {width:700px;margin:-10px auto 20px auto;float:none;}
/*Faq*/
#open_content .faq_parent {padding-bottom:40px;margin-bottom:40px;border-bottom:1px solid #eee;}
#open_content .faq_title {margin-bottom:30px;}
#open_content .faq {text-align:left;width:760px;border:1px solid #aaa;margin:20px auto;position:relative;}
#open_content .question {background:#eee;padding:8px 50px;color:#000;overflow:hidden;cursor:pointer;}
#open_content .question span{ background:#006cee;color:#fff;padding:10px 14px;position:absolute;top:-2px;left:-2px;}
#open_content .answer {padding:20px 50px;display:none;}
#open_content .answer .b {font-weight:bold;line-height:24px;color:#000;text-decoration:underline}
#open_content .answer .r { color:#ff0000}
/*Tips*/
#open_content .tips {display:none;position:absolute;width:500px;margin-top:6px;text-align:left;}
#open_content .tips .tip_ico {height: 10px;background: url("/images/coler2.png") no-repeat;z-index: 1200;position: relative;left:210px;bottom: 1px;}
#open_content .tips .tip_cont {padding-bottom:10px;background:#fff;border:1px solid #aaa;position:relative;top:-2px;left:20px;border-radius:3px;box-shadow: 0 5px 10px rgba(0,0,0,0.5);}
#open_content .tips .tit {background:#eee;padding:8px;text-align:center;}
#open_content .tips .tic {padding:10px;}
#open_content .tips .tip_cont li {line-height:20px;}

#open_content .server_title {margin:40px 0;border-top:1px solid #eee;padding-top:30px;}
#open_content .open_box .more {border-top:1px solid #ddd;padding-top:9px;}
#open_content .others {width:370px;background:#f5f5f5;border:1px solid #ccc;padding:20px 30px;float:left;}
#open_content .others h3 {margin-bottom:10px}
#open_content .others p {text-align:left;}
#open_content .others.right{float:right;}

/*** API ***/
.ui-widget {font-size: 12px!important;font-family: "Courier New", Courier, monospace; }
.ui-widget-content {position:absolute;float: left;background: #fff;max-height: 300px;overflow-y:auto;width: 256px;border: 1px solid #aaa;border-radius: 4px;}
.ui-menu-item {margin: 0;padding: 0;zoom: 1;float: left;clear: left;width: 94%;font-family:Arial, Verdana, sans-serif;padding:.2em .4em;cursor: pointer;color:#444;}
.nav-section h3 {font-size: 14px;}
.ui-menu-item:hover {background: #dadada;border: 1px solid #999;border-radius: 4px;}
#notfound { margin:50px 30px; }
#reference-loading { margin-top: 300px; text-align: center;}
.hidden { visibility: hidden; }
#api-wrapper{ overflow:hidden; }
#nav .tree, #nav .tree * { font-family: "Courier New", Courier, monospace; line-height: 1.3em;}

#details h1 { font-size: 16px; font-weight: bold; color: #49493D; }
#details h3 { font-size: 16px; font-weight: bold; color: #49493D;border-bottom: 1px solid #aaa;}
#details h4 {font-size: 13px;}
.apiCopy{margin: 10px 0;line-height: 20px;}
.anatomy {float:left;padding-right: 20px;border: 1px solid #ddd;border-top: none;}
.apiInfo {float: left;padding:20px 10px;}
.apiWeibo {width: 210px;height: 60px;margin: 19px 0;}
.apiTuijian {width: 250px;height: 250px;border: 1px solid #ccc;}
#details h1 span { margin-left:6px;float:right;font-size:12px; color:red; font-weight:normal; }
#details h1 span a { color:red; text-decoration:none; }
h2 span {margin-left:6px;float:right;font-size:12px; color:red; font-weight:normal; }
h2 span a { color:red; text-decoration:none; }
#nav { margin:1em 1em 1em 1em; }
#nav-wrap { width: 30%; float:left; overflow:auto; margin:0px; padding:0px;background: #ECEFF0; }
#nav a,#nav a:visited { text-decoration: none; font-weight: bold; color: #039;padding: 0 2px; margin: 1px; }
.nav-section { background: white; padding: 0.5em 1em 1em 1em; border-radius:9px;box-shadow:1px 2px 5px #888;margin-bottom: 1em; position: relative; }
#search-div { height: 18px; margin-bottom: 15px; margin-left: 136px; }
#search { width: 100%; height: 18px; background: #FCFCFC url(../images/search.png) no-repeat 5px 3px; font-size:1em;padding:2px 0;padding-left: 25px; font-size:1em;border: 1px solid silver; border-radius: 9px; font-family: "Courier New", Courier,monospace; box-shadow: inset 1px 1px 1px #888; float: right; } 
#search:focus {border-color: blue; outline: none; }
#nav .level { margin-left: 13px; display: none; }
#nav .level-0 { display: block; }
#nav a.level-0 { margin-left: 1em; }
#nav .menuitem { position: relative; }
#nav .value { width: 40%; overflow: hidden; color: silver; position: absolute;right: 0; white-space: nowrap; }
#nav a.hilighted { background: #FCFFC5; border: 1px solid silver; border-radius:5px; }
#nav .plus { display: block; position: absolute; left: -12px; top: 2px; width:9px; height: 9px; outline: none; border: none; background-image:url(../images/sprite.png); }
#nav .collapsed>.plus { background-position: -12px 0; }
#nav .expanded>.plus { background-position: -24px 0; }
#nav .expanded>.dots { display: none; }
#nav .dots.loading { background: url(../images/ajax-loader.gif) no-repeat center; }
#nav .dots.loading span { visibility: hidden; }
#methods-and-properties-toc ul { margin-left: 0; padding-left: 1em; }
#api-wrapper pre,#api-wrapper code { font-family: "Courier New", Courier, monospace;background: none;border:none; color: green; font-weight: bold; }
#overview { margin-left: 420px; }
#details-wrap { float: right; width: 70%; overflow:auto; margin:0px;padding:0px; }
#details{ margin: 20px; }
.member { border: 1px solid silver; border-bottom: none; padding: .3em; /*max-height: 2.4em;*/ overflow-y: hidden; position: relative; padding-left: 25px;background: url(../images/expand-bg.gif) repeat-y; }
.member.deprecated * { color: silver !important; }
.member.hilighted { background: url(../images/expand-bg-hilighted.gif) repeat-y #FCFFC5; }
.member .title { font-size: 1.1em; font-weight: bold; }
.member .default { display: none; }
.member .since { float: right; font-size: 0.8em; }
.member .edit { float:right; color:red; margin-left:50px; }
.member .edit a{ color:red; text-decoration:none; }
.member .description { color: #666; }
.member .description p {margin:0}
.member .demo { font-size:13px; margin-top: 0.3em; }
.section .demo { font-size:13px; margin-top: 0.3em; margin-bottom:0.5em;}
.section,.member-last { border-bottom: 1px solid silver; }
.section-description { margin: 0 0 1em 0; }
.menuitem div { margin-left: 8px; }
.tree { padding-left: 24px; }
div.edit { float: right }
.langHide {display:none}

/** support ***/
.s {min-width: 1100px;}
.s .left {float: left;}
.s .right { float: right;}
.s-header {height:200px;background: url('/upload/homev_updated.png') no-repeat;}
.s-header h1 {text-align: center;font-size: 40px;color: #fff;width: 100%;margin-top: 80px;}
.s-nav {background-color: #fff;border-bottom: 1px solid #aaa;}
.s-nav ul {list-style: none;margin: 0;position: relative;}
.s-nav li {float: left;}
.s-nav a {padding: 20px 0;width: 250px;text-align: center;display: inherit;color: #333;font-weight:bold;text-decoration: none;}
.s-nav a:hover {color:#006cee;}
.s-nav li.active {border-bottom: 1px solid #006cee}
.s-nav li.active a {color:#006cee;}
.s-nav .four a {width: 250px;}
.s-nav .five a {width: 200px;}
.s-nav span {color: #ff0000;position: absolute;top: 10px;font-weight: normal;}
.s-content {background: #ececec;padding: 20px 0;}
.s-content h1 {border-bottom: 1px solid #006cee;padding-bottom: 10px;margin-bottom: 14px;}
.s-content h3 {margin-bottom: 16px;border-bottom: 1px solid #ccc;margin-top: 20px;}
.s-content h4 {margin-bottom: 14px;}
.s-box {padding:40px 40px;background-color: #fff;border:1px solid #aaa;}
.s-main {width: 780px;}
.s-slider-nav {width: 216px;border: 1px solid #ccc;background-color: #fff;margin:0 20px 20px 0;}
.s-slider-nav ul {list-style: none;margin: 0;}
.s-slider-nav li {padding:0 20px;}
.s-slider-nav li a{display:block;color:#888;text-decoration:none;padding:10px;border-bottom: 1px solid #ccc;}
.s-slider-nav li a:hover {color:#333;}
.s-slider-nav li.active {position: relative;z-index: 4}
.s-slider-nav li.active:after {content: '';
position: absolute;
right: -29px;
top: 16px;
width: 1em;
height: 1em;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transition: background .1s linear;
-moz-transition: background .1s linear;
transition: background .1s linear;
background-color: #FFF;
border-left: 1px solid #aaa;
border-bottom: 1px solid #aaa;
z-index: 2;}
.s-slider-nav li.active a {color:#006cee;font-weight: bold;}
.s-slider {width: 220px;margin-bottom:16px;padding:0;border:1px solid #aaa;margin-left: 16px;background-color: #fff;}
.noborder {border:none!important;}
.s-slider-title {background-color: #eee;font-weight:bold;padding:8px 10px;border-bottom: 1px solid #aaa;}
.s-slider-cont {padding:10px;}
.s-slider-cont ul {margin-bottom: 0;}
.s-ul-float {list-style: none;margin-left: 0;}
.s-ul-float li {float: left;width: 50%;}
.s-content p, .s-content li {font:14px/24px '微软雅黑';color:#333;}
.s-content h2 {margin: 16px 0;}
.s-feature {margin: 40px 0;}
.s-share {float: right;}
.s-background {width: 162px;height: 122px;border: 1px solid #ccc;}
.sh {background: url('/images/feature.jpg')}
.ss {background: url('/images/stock-feature.jpg');}
.sm {background: url('/images/map-feature.jpg');}
.s41 {background: url('/images/4.1-feature.jpg');}
.s-b1 {background-position: -162px 0;}
.s-b2 {background-position: -324px 0;}
.s-b3 {background-position: -486px 0;}
.s-b4 {background-position: -648px 0;}
.s-b5 {background-position: 0 -122px;}
.s-b6 {background-position: -162px -122px;}
.s-b7 {background-position: -324px -122px;}
.s-b8 {background-position: -486px -122px;}
.s-b9 {background-position: -648px -122px;}
.s-b10 {background-position: 0 -244px;}
.s-b11 {background-position: -162px -244px;}
.s-b12 {background-position: -324px -244px;}
.s-b13 {background-position: -486px -244px;}
.s-b14 {background-position: -648px -244px;}
.s-b15 {background-position: 0 -366px;}
.s-b16 {background-position: -162px -366px;}
.s-text {width: 600px;}
.s-text h3 {margin:0;border: none;}
.s-btns {text-align: center;margin:30px 0;}
.s-btns.large {margin:60px 0;text-align: left;}
.s-comment {margin-top: 60px;border-top: 1px solid #ccc;padding-top: 20px;}
.s-pane {border: 1px solid #ddd;border-top:none;padding:20px;margin-top:-20px;}
.button {font-size:13px;background:#006ecc;border-color:#006ecc;padding:10px 30px;color:#fff;text-decoration:none;margin:0 10px;}
.button:hover {background-color:#0088cc;color: #fff;text-decoration: none;}
.button.warning {background-color: #39B3D7}
.button.warning:hover {background-color: #5BC0DE;}
.button.success {background-color: #47A447;}
.button.success:hover {background-color: #5CB85C;}

/** Donate**/
.donate-method {color:#006cee!important;font-size: 20px!important;margin:20px 0;}
.donate-cont {float: left;}
.donate-bg {width: 400px;height: 400px;float: right;margin-top:-100px;background: url('/images/donate-me1.png') no-repeat;}


.online-service{position:fixed;top:180px;right:0;font-size:12px;text-align:center;}
.online-service a{color:#006cee;text-decoration:none}
.online-btn{width:16px;background-color:#006cee;color:#fff;border-radius:3px 0 0 3px;padding:10px 0 10px 6px;cursor:pointer;display:none}
.online-content{width:93px;display: none}
.online-content ul{list-style:none;background-color:#fff;border:1px solid #ccc;width:80px;padding:0;margin:0}
.online-content li{padding:5px 10px;border-bottom:1px dotted #cacaca}
.online-content li:last-child{border-bottom:none}
.online-content li.separator{padding:0;margin-top:-1px;height:0;background-color:#ccc}
.online-main{height:132px;background:url(http://www.hcharts.cn/images/online-service.png) no-repeat}
.online-close{height:18px;cursor:pointer}
.online-link{display:inline-block;position:relative;top:66px;left:-6px;color:#fff!important}
.online-link2{color:#006cee!important;margin-top:2px}
